
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}


* {
    font-family: montserrat;
    margin: 0px;
}


 body{
    background-size: 100%;
    background-image:  url('../img/pexels-anna-tukhfatullina-food-photographerstylist-2693447.jpg');
}




@media only screen and (max-width: 767px) {
    body {
        background-size: 150%;
        background-position: 0px 0px, center;
       
    background-image: url('../img/pexels-olena-bohovyk-3323686.jpg');
    }
}


#load{
    scale: 40%;
    position: relative;
    margin-left: -229px;
    margin-top: -141px;
    text-align: center;
    z-index: 3;
    border: none;
}

.recipeList{
    display: flex;
    flex-wrap: wrap;
}

#textoseleccion{
    position: relative;
   margin-top: -79px;
    margin-left: -75px;
    margin-bottom: 30px;
}
 

.icononotificacion{
    margin-top: -228px;
    margin-left: 81px;
    scale: 6%;
    bottom: 0;
    z-index: 3;
}


footer{
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #ffffff;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);

}

.iconofavorito{
    margin-bottom: -237px;
    margin-left: -152px;
    scale: 4%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.iconohome{
    margin-bottom: -234px;
    margin-left: -225px;
    scale: 6.5%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border: none;
}
.iconosumar{
    margin-bottom: -223px;
    margin-left: -72px;
    scale: 5%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.iconopersona{
    margin-left: 6px;
    scale: 4%;
    margin-top: -234px;
}

.iconorueda{
    margin-left: 84px;
    scale: 4%;
    margin-top: -544px;
    position: fixed;
   
    z-index: 3;
}

#circulo{
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin-bottom: 12px;
    margin-left: 163px;
    background-color: #ffb700;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#recipeList{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

img{
    margin: 20px;
    border: 4px solid #ffb700;
}

h3{
    position: absolute;
    padding-left: 15px;
    padding-right: 25px;
    font-size: 14px;
    margin-top: 267px;
    margin-left: 22px;
    z-index: 1;
    max-width: 20%;
    background-color: rgba(255, 183, 0, 0.5);
  }


@media only screen and (max-width: 767px) {
    h3{
        position: absolute;
        padding-left: 15px;
        padding-right: 10px;
        font-size: 14px;
        margin-top: 267px;
        margin-left: 22px;
        z-index: 1;
        max-width: 70%;
      }
}
 
#barramenu{
    
    margin: 0px;
    height: 60px;
    z-index: 1;


}
#menu{
    margin-left: 20px;
    margin-bottom: -40px;
    display: flex;
    justify-content: left;
}




#seccionlogin{
    position: absolute;
   margin-top: 19px;
   margin-left: 1170px;
}

@media only screen and (max-width: 767px) {
    #seccionlogin {
        position: absolute;
        margin-top: 19px;
        margin-left: 325px;
    }
}


#recipiescard{
    margin-top: 17px;
     margin-left: 0px;
}


#selectorreceta{
    margin-top: 125px;
    margin-left: 103px;
}