
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}


* {
    font-family: montserrat;
    margin: 0px;
}


 body{
    background-size: 100%;
    background-image: url('../img/pexels-anna-tukhfatullina-food-photographerstylist-2693447.jpg');
}

@media only screen and (max-width: 767px) {
    body {
        background-size: 150%;
    background-position: 0px 0px, center;
    background-image: url('../img/pexels-anna-tukhfatullina-food-photographerstylist-2693447.jpg');
    }
}

#espacioblanco{
    height: 150px;

}


ul{
    list-style: none;
    font-weight: bolder;
    margin-right: 0px;
}


li{
    margin: 32px;
}


footer{
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #ffb700;
    height: 50px;
}

.iconofavorito{
    margin-bottom: -231px;
    margin-left: -191px;
    scale: 5%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.iconosumar{
    margin-bottom: -215px;
    margin-left: -80px;
    scale: 5%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.iconopersona{
    margin-left: 45px;
    scale: 5%;
    margin-top: -232px;
}

#circulo{
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin-top: 341px;
    margin-left: 140px;
    background-color: #ffb700;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


article{
    display: flex;
    flex-wrap: wrap;
}


img{
    scale: 50%;
    margin-top: 34px;
    margin-left: -38px;
    margin-bottom: 34px;
    margin-right: 16px;
    border: 4px solid #ffb700;
  
}

h3{
    position: absolute;
    font-size: 14px;
    margin-top: 267px;
    margin-left: 42px;
    z-index: 1;
    max-width: 20%;
  }


@media only screen and (max-width: 767px) {
    h3{
        position: absolute;
        font-size: 14px;
        margin-top: 267px;
        margin-left: 42px;
        z-index: 1;
        max-width: 70%;
      }
}
 
 

#barramenu{
    background-color: rgba(255, 183, 0, 0.5);
    margin: 0px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;

}
#menu{
    margin-left: 20px;
    margin-bottom: -40px;
    display: flex;
    justify-content: left;
}

#seccionlogin{
    position: absolute;
   margin-top: 19px;
   margin-left: 1170px;
}

@media only screen and (max-width: 767px) {
    #seccionlogin {
        position: absolute;
        margin-top: 19px;
        margin-left: 325px;
    }
}


#recipiescard{
    margin-top: 17px;
     margin-left: 0px;
}


#selectorreceta{
    margin-top: 125px;
    margin-left: 103px;
}


