
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: montserrat;
    margin: 0px;
}

#textoingredientes{
    font-weight: bolder;
    position: absolute;
    margin-top: 357px;
    margin-left: -37px;


}



.fa-bookmark{
    color: #ffb700;
    position: relative;
    padding: 35px;
    scale: 3;
    z-index: 1;
    padding-left: 182px;
    padding-bottom: 35px;
    padding-top: 0px;
    }
 
p{
    position: relative;
    display: inline-block;
    margin-top: 89px;
    margin-left: 58px;
    z-index: 1;
    font-size: 12px;
}


ul{
    position: fixed;
    padding-top: 128px;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    z-index: 1;
}



.recipeList{
    display: flex;
    flex-wrap: wrap;
}

#textoseleccion{
    position: relative;
   margin-top: -79px;
    margin-left: -75px;
    margin-bottom: 30px;
}


#iconoizq{
    margin-bottom: -90px;
    margin-left: -181px;
    scale: 8%;
    position: fixed;
    z-index: 2;
}




.iconocalories{
    margin-bottom: -40px;
    margin-left: -169px;
    scale: 8%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.iconotime{
    margin-bottom: -40px;
    margin-left: -73px;
    scale: 8%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.iconochef{
    margin-bottom: -40px;
    margin-left: 33px;
    scale: 8%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
   

#rectangulo{
    position: fixed;
    margin-top: 294px;
    z-index: 1;
    background-color: #ffffff;
    width: 375px;
    height: 364px;
    border-radius: 66px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



img{
    scale: 140%;
    margin: 20px;
    margin-left: 35px;
    margin-top: -53px;
}

h3{
    position: absolute;
    padding-left: 34px;
    padding-right: 10px;
    font-size: 14px;
    margin-top: 315px;
    margin-left: 89px;
    z-index: 2;
    max-width: 20%;
  }


@media only screen and (max-width: 767px) {
    h3{
        position: absolute;
        padding-left: 34px;
        padding-right: 10px;
        font-size: 14px;
        margin-top: 315px;
        margin-left: 22px;
        z-index: 2;
        max-width: 70%;
      }
}
 
#barramenu{
    margin: 0px;
    height: 60px;
    z-index: 1;


}
#menu{
    margin-left: 20px;
    margin-bottom: -40px;
    display: flex;
    justify-content: left;
}




#seccionlogin{
    position: absolute;
   margin-top: 19px;
   margin-left: 1170px;
}

@media only screen and (max-width: 767px) {
    #seccionlogin {
        position: absolute;
        margin-top: 19px;
        margin-left: 325px;
    }
}

article{
    z-index: 1;
}




#recipiescard{
    margin-top: 17px;
     margin-left: 0px;
}
a {
    text-decoration: none;
    color: inherit;

  }

#selectorreceta{
    margin-top: 125px;
    margin-left: 103px;
}